<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<table class="container">
	<tr>
		<td>
			<table class="row">
				<tr>
					<td class="wrapper">
						<table class="six columns">
							<tr>
								<td class="left-text-pad">
									<a href="http://jobjupiter.com/job/' + job._id + '"><strong>' + job.display.title + ' @ ' + job.name.company + '</strong></a><br />
									<p>' + job.description.short + '</p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
					<td class="wrapper last">
						<table class="six columns">
							<tr>
								<td class="left-text-pad" style="text-align: right;">
									<p><strong>' + job.location.city + ', ' + job.location.state + '</strong></p>
								</td>
								<td class="expander"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


</body>
</html>
